---
---

@import "{{ site.theme }}";

section{
  width: 666px;
}

.wrapper{
  width: 930px;
}

blockquote{
  border-left: 5px solid #e5e5e5;
}

.div-table {
  display: table;
  width: 100%;
  border-spacing: 5px;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col_eq {
  float: left;
  margin-right: 5%;
  display: table-column;
  width: 47.5%;
  text-align: left;
}
.div-table-col_expl {
  text-align: right;
  float: left;
  display: table-column;
  width: 47.5%;
}