---
---

@import "{{ site.theme }}";

section{
  width: 666px;
}

.wrapper{
  width: 930px;
}

blockquote{
  border-left: 5px solid #e5e5e5;
}

.div-table {
  display: table;
  width: auto;
  border-spacing: 5px;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left;
  display: table-column;
  width: 200px;
}