---
---

@import "{{ site.theme }}";

section{
  width: 666px;
}

.wrapper{
  width: 930px;
}

blockquote{
  border-left: 5px solid #e5e5e5;
}

.div-table {
  display: table;
  width: 100%;
  border-spacing: 5px;
  margin-bottom: 10px;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col_eq {
  float: left;
  margin-right: 5%;
  display: table-column;
  width: 47.5%;
  text-align: left;
  padding-top: 3px;
}

.div-table-col_eq_narrow {
  float: left;
  margin-right: 5%;
  display: table-column;
  width: 35%;
  text-align: left;
  padding-top: 3px;
}

.div-table-col_wide_expl {
  text-align: right;
  float: left;
  display: table-column;
  width: 47.5%;
  padding-top: 3px;
}

.div-table-col_wide_expl {
  text-align: right;
  float: left;
  display: table-column;
  width: 60%;
  padding-top: 3px;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 10px;
}

code, pre {font-size: 13px;}